/venv
/.idea
/project_name/session.json
/fast_xabhelper/admin_pack/static/public/*
/fast_xabhelper/svelte_pack/node_modules
/fast_xabhelper/admin_pack/static/*
/project_name/static/admin_pack/*
__pycache__/