/venv
/.idea
#
/project_name/session.json
/fast_xabhelper/svelte_pack/node_modules
/fast_xabhelper/admin_pack/static/public/*
project_name/static/*
# Кеши
__pycache__/
fast_xabhelper/__pycache__/
fast_xabhelper/admin_pack/__pycache__/
ast_xabhelper/database_pack/__pycache__/
fast_xabhelper/session_pack/__pycache__/
fast_xabhelper/svelte_pack/__pycache__/
fast_xabhelper/user_pack/__pycache__/
