body {
    background: #7f99cc;
}

table, th, td {
    border: #4c5448 1px solid;
    padding: 10px;
}

table {
    border-radius: 10px;
    border-collapse: collapse;
}

#root {
    text-align: center;
    background: #7f99cc;

}

.right_text {
    text-align: center;
    padding-bottom: 10px;
}

#login {
    border: #4c5448 3px solid;
    width: 300px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}