<head><script defer="defer" src="/static/admin_pack/main.bundle.js"></script></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '/home/denis/PycharmProjects/fastApiPro  ject/fast_xabhelper/admin_packfalse/src/index.template.html' in '/home/denis/P  ycharmProjects/fastApiProject/fast_xabhelper/svelte_pack'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/home/denis/Pycha  rmProjects/fastApiProject/fast_xabhelper/admin_packfalse/src/index.template.ht  ml' in '/home/denis/PycharmProjects/fastApiProject/fast_xabhelper/svelte_pack'      at /home/denis/PycharmProjects/fastApiProject/fast_xabhelper/svelte_pack/n  ode_modules/webpack/lib/Compilation.js:2013:28
      at /home/denis/PycharmProjects/fastApiProject/fast_xabhelper/svelte_pack/n  ode_modules/webpack/lib/NormalModuleFactory.js:795:13
      at eval (eval at create (/home/denis/PycharmProjects/fastApiProject/fast_x  abhelper/svelte_pack/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anon ymous>:10:1)
      at /home/denis/PycharmProjects/fastApiProject/fast_xabhelper/svelte_pack/n  ode_modules/webpack/lib/NormalModuleFactory.js:275:22
      at eval (eval at create (/home/denis/PycharmProjects/fastApiProject/fast_x  abhelper/svelte_pack/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anon ymous>:9:1)
      at /home/denis/PycharmProjects/fastApiProject/fast_xabhelper/svelte_pack/n  ode_modules/webpack/lib/NormalModuleFactory.js:431:22
      at /home/denis/PycharmProjects/fastApiProject/fast_xabhelper/svelte_pack/n  ode_modules/webpack/lib/NormalModuleFactory.js:124:11
      at /home/denis/PycharmProjects/fastApiProject/fast_xabhelper/svelte_pack/n  ode_modules/webpack/lib/NormalModuleFactory.js:667:25
      at /home/denis/PycharmProjects/fastApiProject/fast_xabhelper/svelte_pack/n  ode_modules/webpack/lib/NormalModuleFactory.js:852:8
      at /home/denis/PycharmProjects/fastApiProject/fast_xabhelper/svelte_pack/n  ode_modules/webpack/lib/NormalModuleFactory.js:972:5
  
  - Compilation.js:2013 
    [svelte_pack]/[webpack]/lib/Compilation.js:2013:28
  
  - NormalModuleFactory.js:795 
    [svelte_pack]/[webpack]/lib/NormalModuleFactory.js:795:13
  
  
  - NormalModuleFactory.js:275 
    [svelte_pack]/[webpack]/lib/NormalModuleFactory.js:275:22
  
  
  - NormalModuleFactory.js:431 
    [svelte_pack]/[webpack]/lib/NormalModuleFactory.js:431:22
  
  - NormalModuleFactory.js:124 
    [svelte_pack]/[webpack]/lib/NormalModuleFactory.js:124:11
  
  - NormalModuleFactory.js:667 
    [svelte_pack]/[webpack]/lib/NormalModuleFactory.js:667:25
  
  - NormalModuleFactory.js:852 
    [svelte_pack]/[webpack]/lib/NormalModuleFactory.js:852:8
  
  - NormalModuleFactory.js:972 
    [svelte_pack]/[webpack]/lib/NormalModuleFactory.js:972:5
  
  - child-compiler.js:169 
    [svelte_pack]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:564 
    [svelte_pack]/[webpack]/lib/Compiler.js:564:11
  
  - Compiler.js:1183 
    [svelte_pack]/[webpack]/lib/Compiler.js:1183:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [svelte_pack]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1179 
    [svelte_pack]/[webpack]/lib/Compiler.js:1179:33
  
  - Compilation.js:2784 finalCallback
    [svelte_pack]/[webpack]/lib/Compilation.js:2784:11
  
  - Compilation.js:3089 
    [svelte_pack]/[webpack]/lib/Compilation.js:3089:11
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [svelte_pack]/[tapable]/lib/Hook.js:18:14
  
</anon></anon></pre>