{% import "macro.html" as mc %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit {{ model.name }}</title>
    <link href="{{ url_for('static', path='/admin_pack/css/styles.css') }}" rel="stylesheet">

</head>
<body>
<div>
    {{ model.name }}
</div>
<table>
    <thead>
    {# Заголовки#}
    <tr>
        {{ mc.create_title_column(extend_column) }}
    </tr>
    </thead>
    {# Запси #}
    <tbody>
    <tr>
        {#  Перебираем сотбцы #}
        {% for title in title_column -%}
            <th>{{ data_item[title] }}</th>
        {% endfor -%}
    </tr>
    </tbody>
</table>

{{ mc.editor_db(url_update, model, extend_column, data_item, readonly_fields) }}
</body>
</html>