<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Svelte Template</title>
		<!-- Иконка	-->
		<link rel="shortcut icon" type="image/png" href="https://img.icons8.com/fluency/48/000000/globe-earth.png">
	<script defer="defer" src="/static/admin_pack/vendors-node_modules_svelte_internal_index_mjs.bundle.js"></script><script defer="defer" src="/static/admin_pack/main.bundle.js"></script></head>
	<body></body>
</html>
