{% macro create_title_column(_extend_column) -%}
    {#
Создать заголовки таблицы
#}
    {% for k,v in _extend_column.items() -%}
        <th>{{ k }}
            <hr>
            {{ v["type"]|lower }}
        </th>
    {% endfor -%}
{%- endmacro %}

{% macro create_body_table(_rows, _title_column, _url_lambda) -%}
    {#
Создать записи в таблицу
#}
    {% for _rw in _rows -%}
        <tr>
            {# Перебираем сотбцы #}
            {% for _title in _title_column -%}
                {% if _title == "id" %}
                    {# Сыылка для редактирования записи #}
                    <th><a href="{{ _url_lambda(_rw._data[0][_title]|string) }}/">{{ _rw._data[0][_title] }}</a>
                    </th>
                {% else %}
                    <th>{{ _rw._data[0][_title] }}</th>
                {% endif -%}
            {% endfor -%}
        </tr>
    {% endfor -%}
{%- endmacro %}


{% macro create_forms_html_input(
    nameColumn,
    htmlTypeInput,
    DataItem,
    ExtendColumn,
    ReadonlyFields
    ) %}

    {#
Создать поля в виде HTML INPUT из столбцов

@params _name_column: str : Имя столбца
@params _external_column: dict : Расширенные данные о столбце
@params _data: str|None: Данные в столбце
#}

    {# Если имя не помечено только для чтения #}
    {% if not nameColumn in ReadonlyFields %}
        <div>
            {{ nameColumn }}
        </div>

        {# Если boolean #}
        {% if htmlTypeInput == "radio" %}
            {% if DataItem == True %}
                <input type="radio" name="{{ nameColumn }}-{{ htmlTypeInput }}" checked value="on"> Да
                <input type="radio" name="{{ nameColumn }}-{{ htmlTypeInput }}" value="off"> Нет
            {% else %}
                <input type="radio" name="{{ nameColumn }}-{{ htmlTypeInput }}" value="on"> Да
                <input type="radio" name="{{ nameColumn }}-{{ htmlTypeInput }}" checked value="off"> Нет
            {% endif %}

        {% else %}
            <input type="{{ htmlTypeInput }}" {% if DataItem==True %}
                   value="{{ DataItem }}" {% endif %} name="{{ nameColumn }}-{{ htmlTypeInput }}">
        {% endif %}


    {% else %}
        <div>
            {{ nameColumn }} = {{ DataItem }}
        </div>
    {% endif %}

{%- endmacro %}


{% macro create_form(
    titleColomn,
    nameForm,
    textSubmit,
    enctype,
    Model,
    ReadonlyFields,
    ExtendColumn,
    DataItem,
    UrlForm
    ) %}
    {# Создать форму для столбцом модели

@params UrlForm : str : путь отправки формы
@params Model : AdminPanel : Эземпляр AdminPanel
@params ExtendColumn :  dict[Any, dict[str, Any]] : Разширенная информация о столбцах

    #}

    <form action="{{ UrlForm }}"
          method="post"
          name="{{ nameForm }}"
          target="_self"
          enctype="{{ enctype }}">

        {% for _tc in titleColomn %}
            <label>
                {{ create_forms_html_input(
                        nameColumn = _tc,
                        htmlTypeInput = ExtendColumn[_tc],
                        ReadonlyFields = kwargs["ReadonlyFields"],
                        ExtendColumn = kwargs["ExtendColumn"],
                        DataItem = kwargs["DataItem"]
                        ) }}
            </label>
        {% endfor %}

        <p></p>
        <input type="submit" value="{{ textSubmit }}">
    </form>
{% endmacro %}


{% macro create_fields_from_model() %}

    {# Создаем поля для UTF #}
    {{ create_form(
        *varargs,
        titleColomn = kwargs["ColumnEnctypeUtf"],
        textSubmit = "Создать запись",
        enctype = "application/x-www-form-urlencoded",
        nameForm = "CreateUtf",
        **kwargs) }}

    {# Создаем поля для Файлов #}
    {{ create_form(
                *varargs,
                titleColomn = kwargs['ColumnEnctypeFile'],
                textSubmit="Создать запись",
                enctype="multipart/form-data",
                nameForm="CreateFile",
                **kwargs) }}

{% endmacro %}


{% macro editor_db(_url_form, _model, _extend_column, _data_item) -%}
    {# Создать форму с полями для обновления записей в модель #}
    {{ create_form(_url_create, _model, _extend_column, _data_item,
    text_submit="Отправить изменения",
    name_form="Update",
    readonly_fields=readonly_fields) }}
{%- endmacro %}
