{% import "tmp.html" as mc %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel {{ model.name }}</title>
    <link href="{{ url_for('static', path='/admin_pack/css/styles.css') }}" rel="stylesheet">
</head>
<body>
<div>
    {{ model.name }}
</div>


<table>
    <thead>
    {# Заголовки#}
    <tr>
        {{ mc.create_title_column(extend_column) }}
    </tr>
    </thead>
    {# Запси #}
    <tbody>
    {{ mc.creacte_body_tabel(data,title_column,url_lambda) }}
    </tbody>
</table>


</body>
</html>